
<!doctype html>
<html lang="en">

<head>
  <title>Quản lý File</title>
   <%- include('layout/head.ejs')%>
</head>

<body>
  <%- include('layout/header.ejs')%>
  <div id="fileManager">
    <section>
      <div style=" height: 72px" class="w-100 d-flex justify-content-between header bg-white">
     
        <div class="d-flex justify-content-start " style=" margin:20px 12.21px; align-items: center; gap: 20px">
          <div role="button" style="width: 32px; height: 26px; position: relative">
            <div style="width: 32px; height: 26px; left: 0px; top: 0px; position: absolute; background: #384551; border-radius: 4px"></div>
            <div style="width: 20px; height: 24px; padding-left: 2px; padding-right: 2px; padding-top: 9px; padding-bottom: 9px; left: 11px; top: 1px; position: absolute; background: white; border-radius: 4px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 16px; display: inline-flex">
              <div style="width: 16px; height: 15px; padding-top: 3.75px; padding-bottom: 3.75px; justify-content: center; align-items: center; display: inline-flex">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div style="width:0px;height: 100%; border: 1px #EAEAEA solid"></div>
          <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 2px; display: inline-flex">
            <div style="align-self: stretch; height: 29.57px; color: #384551; font-size: 20px; font-family: Roboto; font-weight: 500; word-wrap: break-word">Quản lý File</div>
            <div style="justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
              <div style="color: #BEBEBE; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Edusoft</div>
              <div style="color: #BEBEBE; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">/</div>
              <div style="color: #384551; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Quản lý file</div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end" style=" margin: 20px 12.21px; align-items: center; gap: 17px; display: inline-flex">
          <div style="width: 26px; height: 26px; position: relative">
            <div style="padding: 4px; left: 0px; top: 0px; position: absolute; background: #E7F0FF; border-radius: 8px; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
              <div role="button" style="width: 18px; height: 18px; padding-left: 1.50px; padding-right: 1.50px; padding-top: 1.88px; padding-bottom: 1.88px; justify-content: center; align-items: center; display: flex">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.375 10.875H11.625M6.375 7.125H9" stroke="#24477F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M10.628 15.6679C13.7652 15.4594 16.2642 12.9249 16.4698 9.74316C16.5101 9.12051 16.5101 8.47569 16.4698 7.85304C16.2642 4.67128 13.7652 2.13685 10.628 1.92831C9.55764 1.85716 8.44018 1.8573 7.37205 1.92831C4.23479 2.13685 1.73581 4.67128 1.53018 7.85304C1.48994 8.47569 1.48994 9.12051 1.53018 9.74316C1.60507 10.902 2.11757 11.975 2.72093 12.881C3.07126 13.5152 2.84006 14.3069 2.47516 14.9984C2.21206 15.4969 2.08051 15.7462 2.18613 15.9263C2.29176 16.1064 2.52769 16.1122 2.99957 16.1236C3.93275 16.1464 4.56201 15.8818 5.06151 15.5135C5.3448 15.3046 5.48645 15.2001 5.58408 15.1881C5.6817 15.1761 5.87383 15.2552 6.25801 15.4135C6.6033 15.5557 7.00422 15.6434 7.37205 15.6679C8.44018 15.7389 9.55764 15.739 10.628 15.6679Z" stroke="#24477F" stroke-width="1.5" stroke-linejoin="round"/>
                  </svg>
                  
              </div>
            </div>
            <div style="width: 7px; height: 7px; left: 14.11px; top: 2.38px; position: absolute; background: #EE5C5C; border-radius: 9999px"></div>
          </div>
          <div style="padding: 4px; background: #E7F0FF; border-radius: 8px; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
            <div role="button" style="width: 18px; height: 18px; padding-left: 1.88px; padding-right: 1.88px; padding-top: 1.50px; padding-bottom: 1.50px; justify-content: center; align-items: center; display: flex">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.89744 10.7955C1.73795 11.8103 2.451 12.5146 3.32404 12.8657C6.67111 14.2114 11.3289 14.2114 14.676 12.8657C15.549 12.5146 16.2621 11.8103 16.1026 10.7955C16.0045 10.1719 15.5199 9.6526 15.1608 9.1455C14.6905 8.47314 14.6437 7.73979 14.6437 6.95956C14.6437 3.94433 12.1169 1.5 9 1.5C5.8831 1.5 3.35634 3.94433 3.35634 6.95956C3.35628 7.73979 3.30954 8.47314 2.83921 9.1455C2.48013 9.6526 1.99546 10.1719 1.89744 10.7955Z" stroke="#24477F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6.75 15.75C7.3471 16.2164 8.1356 16.5 9 16.5C9.8644 16.5 10.6529 16.2164 11.25 15.75" stroke="#24477F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                
            </div>
          </div>
          <div style="justify-content: flex-start; align-items: center; gap: 8px; display: flex">
            <div style="justify-content: flex-start; align-items: center; gap: 6px; display: flex">
              <img style="width: 32px; height: 32px; border-radius: 124px" src="/public/img/avatar/avatarImage.png" />
              <div style="flex-direction: column; justify-content: center; align-items: flex-start; gap: 2px; display: inline-flex">
                <div style="text-align: right; color: #384551; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Bella Erling</div>
                <div style="text-align: right; color: #BEBEBE; font-size: 12px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Giáo viên</div>
              </div>
            </div>
            <div style="width: 16px; height: 16px; position: relative">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="content bg-light">
        <div class="card m-3">
          <div class="card-header d-flex">
           
            <div class="action">
              <ul class="d-flex flex-wrap">
                <li >
                  <button  id="uploadFile" class="btn border bg-light btn-sm ml-2" data-toggle="modal" data-target="#uploadFileModal">
                    <i class="fa fa-upload" aria-hidden="true"></i>
                    <span> Upload</span>
                  </button>
                
                </li>
               
                <li >
                  <button id="viewFile" class="btn border bg-light btn-sm ml-2 d-none ">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <span>View</span>
                  </button>
                </li>
                <li >
                 
                  <button id="dowloadFile" class="btn border bg-light btn-sm ml-2 d-none">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    <span> Dowload</span>
                  </button>
                </li>
                <li >
                  <button id="editFile" class="btn border bg-light btn-sm ml-2 d-none">
                    <i class="fas fa-edit    "></i>
                    <span> Edit</span>
                  </button>
                </li>
                <li >
                  <button id="copyFile" class="btn border bg-light btn-sm ml-2 d-none">
                    <i class="fas fa-copy    "></i>
                    <span> Copy</span>
                  </button>
                </li>
                <li >
                  <button id="moveFile" class="btn border bg-light btn-sm ml-2 d-none">
                    <img src="public/img/icon/folder_move_to_icon.png" width="16px" height="16px" alt="">
                    <span>Move</span>
                  </button>
                </li>
                <li >
                  <button id="renameFile" class="btn border bg-light btn-sm ml-2 d-none">
                    <img src="public/img/icon/icons8-rename-50.png" width="16px" height="16px" alt="">
                    <span>Rename</span>
                  </button>
                </li>
                <li >
                  <button id="deleteFile" class="btn border bg-light btn-sm ml-2 d-none">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <span>Delete</span>
                  </button>
                </li>
                <li >
                  <button id="shareFile" class="btn border bg-light btn-sm ml-2 d-none">
                   <i class="fa fa-share" aria-hidden="true"></i>
                    <span>Share</span>
                  </button>
                </li>
              </ul>
              
            </div>
          </div>
          <div class="card-body p-0">
            <div class="row">
              <div class="col-md-4 left-document pr-0 " >
                <div class="card ">
                  <div class="card-header  text-dark  border-0">
                    <h6 style="font-weight: bold;"> Thư mục/ Folder</h3>
                  </div>
                  <div class="card-body pt-0 ">
                    <ul >
                      <li   >
                  
                        <!-- folder-name && action  -->
                        <div class="d-flex tree-item justify-content-between">
                          <div onclick="clickFolder(this)" class="d-flex folder-name btn" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                            <div class="mr-2 text-center d-flex align-items-center  icon-angle-right-file">
                              <i class="fa fa-angle-right" aria-hidden="true"></i>
                           
                            </div>
                            <div class="mr-1 d-flex align-items-center  ">
                                 <img src="/public//img/icon/folder.png" width="14.5px" height="14.5px" alt="">
                            </div>
                            <div class=" h6 d-flex align-items-center justify-content-center h-100 text-dark">
                              Lập trình di động <span> (42)</span>
                            </div>
                          </div>
                          <div class="d-flex action  ">
                            <div class="add-folder-action mr-2 d-flex align-items-center pl-3 btn">
        
                              <span class="fas fa-plus fa-xs " data-toggle="modal" data-level="2" data-parent="291" data-path="291" data-target="#modal-subject"></span>
        
                            </div>
                            <div class="btn edit-folder-action mr-2 d-flex align-items-center">
                              <span data-toggle="modal" data-target="#modal-edit-topic" data-id="291" data-name="Lập trình di động" data-path="" class="fas fa-edit fa-xs "></span>
                            </div>
                            <div class=" btn delete-folder-action d-flex align-items-center">
                              <span item-id="291" item-name="Lập trình di động" data-path="291" class="fas fa-trash-alt fa-xs "></span>
                            </div>
                          </div>
        
                         </div>
                         <!-- sub-folder && action  -->
                           <div  class="collapse  tree-level-1   " id="collapseExample">
                              <ul >
                                
                                  <li  >
                                     <!-- folder-name && action  -->
                                    <div class="d-flex justify-content-between tree-item">
                                     <div onclick="clickFolder(this)" class="d-flex folder-name btn" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                                       <div class="mr-2 text-center d-flex align-items-center  icon-angle-right-file">
                                         <i class="fa fa-angle-right" aria-hidden="true"></i>
                                       </div>
                                       <div class="mr-1 d-flex align-items-center  ">
                                         <img src="/public//img/icon/folder.png" width="14.5px" height="14.5px" alt="">
                                       </div>
                                       <div class=" h6 d-flex align-items-center justify-content-center h-100 text-dark">
                                         Tài liệu  <span> (42)</span>
                                       </div>
                                     </div>
                                     <div class="d-flex action   ">
                                       <div class="add-folder-action mr-2 d-flex align-items-center pl-3 btn">
                   
                                         <span class="fas fa-plus fa-xs " data-toggle="modal" data-level="2" data-parent="291" data-path="291" data-target="#modal-subject"></span>
                   
                                       </div>
                                       <div class="btn edit-folder-action mr-2 d-flex align-items-center">
                                         <span data-toggle="modal" data-target="#modal-edit-topic" data-id="291" data-name="Lập trình di động" data-path="" class="fas fa-edit fa-xs "></span>
                                       </div>
                                       <div class=" btn delete-folder-action d-flex align-items-center">
                                         <span item-id="291" item-name="Lập trình di động" data-path="291" class="fas fa-trash-alt fa-xs "></span>
                                       </div>
                                     </div>
                   
                                    </div>
                               <!-- sub-folder && action  -->
                                    <div  class="collapse sub-folder tree-level-3   " id="collapseExample1">
                                      <ul >
                                        
                                          <li  >
                                            <div class="d-flex tree-item justify-content-between">
                                             <div onclick="clickFolder(this)" class="d-flex folder-name btn">
                                               
                                               <div class="mr-1 d-flex align-items-center  ">
                                                    <img src="/public//img/icon/folder.png" width="14.5px" height="14.5px" alt="">
                                               </div>
                                               <div class=" h6 d-flex align-items-center justify-content-center h-100 text-dark">
                                                  Flutter  <span> (5)</span>
                                               </div>
                                             </div>
                                             <div class="d-flex action   ">
                                               <div class="add-folder-action mr-2 d-flex align-items-center pl-3 btn">
                           
                                                 <span class="fas fa-plus fa-xs " data-toggle="modal" data-level="2" data-parent="291" data-path="291" data-target="#modal-subject"></span>
                           
                                               </div>
                                               <div class="btn edit-folder-action mr-2 d-flex align-items-center">
                                                 <span data-toggle="modal" data-target="#modal-edit-topic" data-id="291" data-name="Lập trình di động" data-path="" class="fas fa-edit fa-xs "></span>
                                               </div>
                                               <div class=" btn delete-folder-action d-flex align-items-center">
                                                 <span item-id="291" item-name="Lập trình di động" data-path="291" class="fas fa-trash-alt fa-xs "></span>
                                               </div>
                                             </div>
                           
                                            </div>
                                      
                           
                                           </li>
                                           <li  >
                                            <div class="d-flex tree-item justify-content-between">
                                             <div onclick="clickFolder(this)" class="d-flex folder-name btn">
                                               
                                               <div class="mr-1 d-flex align-items-center  ">
                                                    <img src="/public//img/icon/folder.png" width="14.5px" height="14.5px" alt="">
                                               </div>
                                               <div class=" h6 d-flex align-items-center justify-content-center h-100 text-dark">
                                                  Mobile JAVA  <span> (10)</span>
                                               </div>
                                             </div>
                                             <div class="d-flex action   ">
                                               <div class="add-folder-action mr-2 d-flex align-items-center pl-3 btn">
                           
                                                 <span class="fas fa-plus fa-xs " data-toggle="modal" data-level="2" data-parent="291" data-path="291" data-target="#modal-subject"></span>
                           
                                               </div>
                                               <div class="btn edit-folder-action mr-2 d-flex align-items-center">
                                                 <span data-toggle="modal" data-target="#modal-edit-topic" data-id="291" data-name="Lập trình di động" data-path="" class="fas fa-edit fa-xs "></span>
                                               </div>
                                               <div class=" btn delete-folder-action d-flex align-items-center">
                                                 <span item-id="291" item-name="Lập trình di động" data-path="291" class="fas fa-trash-alt fa-xs "></span>
                                               </div>
                                             </div>
                           
                                            </div>
                                      
                           
                                           </li>
                                        
                                      </ul>
                               
                               </div>
                                   </li>
                                  <li  >
                                     <!-- folder-name && action  -->
                                    <div class="d-flex justify-content-between tree-item">
                                     <div onclick="clickFolder(this)" class="d-flex folder-name btn">
                                       <div class="leaf mr-2 text-center d-flex align-items-center  icon-angle-right-file">
                                        
                                       </div>
                                       <div class="mr-1 d-flex align-items-center  ">
                                            <img src="/public//img/icon/folder.png" width="14.5px" height="14.5px" alt="">
                                       </div>
                                       <div class=" h6 d-flex align-items-center justify-content-center h-100 text-dark">
                                         Bài tập học sinh   <span> (42)</span>
                                       </div>
                                     </div>
                                     <div class="d-flex action   ">
                                       <div class="add-folder-action mr-2 d-flex align-items-center pl-3 btn">
                   
                                         <span class="fas fa-plus fa-xs " data-toggle="modal" data-level="2" data-parent="291" data-path="291" data-target="#modal-subject"></span>
                   
                                       </div>
                                       <div class="btn edit-folder-action mr-2 d-flex align-items-center">
                                         <span data-toggle="modal" data-target="#modal-edit-topic" data-id="291" data-name="Lập trình di động" data-path="" class="fas fa-edit fa-xs "></span>
                                       </div>
                                       <div class=" btn delete-folder-action d-flex align-items-center">
                                         <span item-id="291" item-name="Lập trình di động" data-path="291" class="fas fa-trash-alt fa-xs "></span>
                                       </div>
                                     </div>
                   
                                    </div>
                            
                                   </li>
                              </ul>
                       
                       </div>
                       
      
                      </li>
                      <li   >
                  
                        <!-- folder-name && action  -->
                        <div class="d-flex tree-item justify-content-between">
                          <div onclick="clickFolder(this)" class="d-flex folder-name btn">
                            <div class="mr-2 leaf text-center d-flex align-items-center  icon-angle-right-file">
                             
                           
                            </div>
                            <div class="mr-1 d-flex align-items-center  ">
                                 <img src="/public//img/icon/folder.png" width="14.5px" height="14.5px" alt="">
                            </div>
                            <div class=" h6 d-flex align-items-center justify-content-center h-100 text-dark">
                              Cấu trúc dữ liệu và giải thuật <span> (22)</span>
                            </div>
                          </div>
                          <div class="d-flex action  ">
                            <div class="add-folder-action mr-2 d-flex align-items-center pl-3 btn">
        
                              <span class="fas fa-plus fa-xs " data-toggle="modal" data-level="2" data-parent="291" data-path="291" data-target="#modal-subject"></span>
        
                            </div>
                            <div class="btn edit-folder-action mr-2 d-flex align-items-center">
                              <span data-toggle="modal" data-target="#modal-edit-topic" data-id="291" data-name="Lập trình di động" data-path="" class="fas fa-edit fa-xs "></span>
                            </div>
                            <div class=" btn delete-folder-action d-flex align-items-center">
                              <span item-id="291" item-name="Lập trình di động" data-path="291" class="fas fa-trash-alt fa-xs "></span>
                            </div>
                          </div>
        
                         </div>
                       
                       
      
                      </li>
                    </ul>
      
                  </div>
                </div>
              </div>
              <div class="col-md-8 right-document pl-0" >
              
                <div class="work-folder">
                  <div class="card ">
                    <!-- action with file  -->
                    <div class="card-head mt-3">
                      
                    </div>
                    <div class="card-body">
                      <table class="table ">
                        <thead>
                          <tr >
                            <th scope="col">Tên Folder/File</th>
                            <th scope="col">
                              <span>Kích thước</span>
                              <i class="fas fa-arrow-to-bottom    "></i>
                            </th>
                            <th scope="col">Hành động</th>
      
                          </tr>
                        </thead>
                        <tbody id="AllFile1" >
                          <tr   >
      
                            <td onclick="clickFile(2,this)" role="button">
                              <div class="d-flex">
                                <div class="mr-1 d-flex align-items-center  ">
                                     <img src="/public//img/icon/folder.png" width="14.5px" height="14.5px" alt="">
                                </div>
                                <div>
                                  <span>Document</span>
                                </div>
                              </div>
      
                            </td>
                            <td>
                              24 <span>KB</span>
                            </td>
                            <td >
                              <button class="border-0 d-flex justify-content-center ml-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="container"> <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-testid="MoreVertOutlinedIcon" class="svg-icon icon-md" height="1em" width="1em">
                                    <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>
                                  </svg></div>
      
                              </button>
                              <div class="dropdown-menu  "  aria-labelledby="dropdownMenuButton">
                                <div  class="dropdown-item  p-0" href="#">
                                 <form action="#">
                                  <button class="d-block w-100 border-0 btn ">  <i class="fa fa-upload" aria-hidden="true"></i>
                                    <span> Upload</span></button>
                                 </form>
                                
                                </div>
                                <div role="button" class="dropdown-item" href="#">
                                  <i class="fa fa-eye" aria-hidden="true"></i>
                                  <span>View</span>
                                </div>
                                <div role="button" class="dropdown-item" href="#">
                                  <i class="fa fa-download" aria-hidden="true"></i>
                                  <span> Dowload</span>
                                </div>
                                <div role="button" class="dropdown-item" href="#">
                                  <i class="fas fa-edit    "></i>
                                  <span> Edit</span>
                                </div>
                                <div role="button" class="dropdown-item" href="#">
                                  <i class="fas fa-copy    "></i>
                                  <span> Copy</span>
                                </div>
                                <div role="button" class="dropdown-item" href="#">
                                  <img src="public/img/icon/folder_move_to_icon.png" width="16px" height="16px" alt="">
                                  <span>Move</span>
                                </div>
                                <div role="button" class="dropdown-item" href="#">
                                  <img src="public/img/icon/icons8-rename-50.png" width="16px" height="16px" alt="">
                                  <span>Rename</span>
                                </div>
                                <div role="button" class="dropdown-item" href="#">
                                  <i class="fa fa-trash" aria-hidden="true"></i>
                                  <span>Delete</span>
                                </div>
                                <div role="button" class="dropdown-item" href="#">
                                  <i class="fa fa-share" aria-hidden="true"></i>
                            <span>Share</span>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr  >
      
                            <td onclick="clickFile(2,this)" role="button">
                              <div class="d-flex">
                                <div class="mr-1 d-flex align-items-center  ">
                                     <img src="/public//img/icon/folder.png" width="14.5px" height="14.5px" alt="">
                                </div>
                                <div>
                                  <span>Music</span>
                                </div>
                              </div>
      
                            </td>
                            <td>
                              24 <span>KB</span>
                            </td>
                            <td>
                              <button class="border-0 d-flex justify-content-center ml-3">
                                <div class="container"> <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-testid="MoreVertOutlinedIcon" class="svg-icon icon-md" height="1em" width="1em">
                                    <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>
                                  </svg></div>
      
                              </button>
      
                            </td>
                          </tr>
                          <tr >
      
                            <td onclick="clickFile(2,this)" role="button">
                              <div class="d-flex">
                                <div class="mr-1 d-flex align-items-center  ">
                                  <i class="fa fa-music text-danger" aria-hidden="true"></i>
                                </div>
                                <div>
                                  <span>Lâu đài tình ái</span> <span>.mp3</span>
                                </div>
                              </div>
      
                            </td>
                            <td>
                              24 <span>KB</span>
                            </td>
                            <td>
                              <button class="border-0 d-flex justify-content-center ml-3">
                                <div class="container"> <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-testid="MoreVertOutlinedIcon" class="svg-icon icon-md" height="1em" width="1em">
                                    <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>
                                  </svg></div>
      
                              </button>
      
                            </td>
                          </tr>
                          <tr >
      
                            <td onclick="clickFile(2,this)" role="button">
                              <div class="d-flex">
                                <div class="mr-1 d-flex align-items-center  ">
                                 <i class="fas fa-video text-primary   "></i>
                                </div>
                                <div>
                                  <span>Lâu đài tình ái</span> <span>.mp4</span>
                                </div>
                              </div>
      
                            </td>
                            <td>
                              24 <span>KB</span>
                            </td>
                            <td>
                              <button class="border-0 d-flex justify-content-center ml-3">
                                <div class="container"> <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-testid="MoreVertOutlinedIcon" class="svg-icon icon-md" height="1em" width="1em">
                                    <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>
                                  </svg></div>
      
                              </button>
      
                            </td>
                          </tr>
                          <tr >
      
                            <td onclick="clickFile(2,this)" role="button">
                              <div class="d-flex">
                                <div class="mr-1 d-flex align-items-center  ">
                                  <img src="https://images2.thanhnien.vn/Uploaded/tuyenth/2022_08_11/2-9544.jpg" width="18px" height="18px" alt="">
                                </div>
                                <div>
                                  <span>DichLeNhietba</span><span>.jpg</span>
                                </div>
                              </div>
      
                            </td>
                            <td>
                              24 <span>KB</span>
                            </td>
                            <td>
                              <button class="border-0 d-flex justify-content-center ml-3">
                                <div class="container"> <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-testid="MoreVertOutlinedIcon" class="svg-icon icon-md" height="1em" width="1em">
                                    <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>
                                  </svg></div>
      
                              </button>
      
                            </td>
                          </tr>
                          <tr>
      
                            <td onclick="clickFile(2,this)" role="button">
                              <div class="d-flex">
                                <div class="mr-1 d-flex align-items-center  ">
                                  <img src="/public/img/icon/excel.png" width="18px" height="18px" alt="">
      
                                </div>
                                <div>
                                  <span>DiemSo</span><span>.xxl</span>
                                </div>
                              </div>
      
                            </td>
                            <td>
                              24 <span>KB</span>
                            </td>
                            <td>
                              <button class="border-0 d-flex justify-content-center ml-3">
                                <div class="container"> <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-testid="MoreVertOutlinedIcon" class="svg-icon icon-md" height="1em" width="1em">
                                    <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>
                                  </svg></div>
      
                              </button>
      
                            </td>
                          </tr>
                          <tr >
      
                            <td onclick="clickFile(2,this)" role="button">
                              <div class="d-flex">
                                <div class="mr-1 d-flex align-items-center  ">
                                  <img src="/public/img/icon/word.png" width="18px" height="18px" alt="">
      
                                </div>
                                <div>
                                  <span>KeHoach</span><span>.doc</span>
                                </div>
                              </div>
      
                            </td>
                            <td>
                              24 <span>KB</span>
                            </td>
                            <td>
                              <button class="border-0 d-flex justify-content-center ml-3">
                                <div class="container"> <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-testid="MoreVertOutlinedIcon" class="svg-icon icon-md" height="1em" width="1em">
                                    <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>
                                  </svg></div>
      
                              </button>
      
                            </td>
                          </tr>
                          <tr >
      
                            <td onclick="clickFile(2,this)" role="button">
                              <div class="d-flex">
                                <div class="mr-1 d-flex align-items-center  ">
                                  <img src="/public/img/icon/ppt.png" width="18px" height="18px" alt="">
      
                                </div>
                                <div>
                                  <span>slideThuyetTrinh</span><span>.ppt</span>
                                </div>
                              </div>
      
                            </td>
                            <td>
                              24 <span>KB</span>
                            </td>
                            <td>
                              <button class="border-0 d-flex justify-content-center ml-3">
                                <div class="container"> <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-testid="MoreVertOutlinedIcon" class="svg-icon icon-md" height="1em" width="1em">
                                    <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>
                                  </svg></div>
      
                              </button>
      
                            </td>
                          </tr>
                          <tr >
      
                            <td onclick="clickFile(2,this)" role="button">
                              <div class="d-flex">
                                <div class="mr-1 d-flex align-items-center  ">
                                  <i class="fas fa-file-alt" ></i>
      
                                </div>
                                <div>
                                  <span>filekhac</span><span>.txt</span>
                                </div>
                              </div>
      
                            </td>
                            <td>
                              24 <span>KB</span>
                            </td>
                            <td>
                              <button class="border-0 d-flex justify-content-center ml-3">
                                <div class="container"> <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-testid="MoreVertOutlinedIcon" class="svg-icon icon-md" height="1em" width="1em">
                                    <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>
                                  </svg></div>
      
                              </button>
      
                            </td>
                          </tr>
      
      
      
      
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
      
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>

  <%- include('layout/footer.ejs') %>

</body>

</html>