.leaf{
    padding-left: 6px;
}

.tree-level-1{
    padding-left: 10px;
}
.tree-level-2{
    padding-left: 20px;
}
.tree-level-3{
    padding-left: 30px;
}
.tree-level-4{
    padding-left: 40px;
}
.tree-level-5{
    padding-left: 50px;
}
.tree-level-6{
    padding-left: 60px;
}
.tree-level-7{
    padding-left: 70px;
}
.tree-level-8{
    padding-left: 80px;
}
.tree-level-9{
    padding-left: 90px;
}
