

<!-- Modal -->
<div class="modal fade " id="uploadFileModal" tabindex="-1" role="dialog"
  aria-labelledby="#uploadModel" aria-hidden="true">
 <div class="container">
  <div class="card" >
      <div class="card-header"></div>
    <div class="card-body">
      <h1>DropzoneJS File Upload Demo</h1>
      <SECTION>
        <DIV id="dropzone">
          <FORM class="dropzone needsclick" id="demo-upload" action="/upload">
            <DIV class="dz-message needsclick">    
              Drop files here or click to upload.<BR>
              <SPAN class="note needsclick">(This is just a demo dropzone. Selected 
              files are <STRONG>not</STRONG> actually uploaded.)</SPAN>
            </DIV>
          </FORM>
        </DIV>
      </SECTION>
    </div>
  </div>
 
 </div>   

</div>