

<!-- Modal -->
<div class="modal fade " id="uploadFileModal" tabindex="-1" role="dialog"
  aria-labelledby="#uploadModel" aria-hidden="true">
 <div class="container mt-5">
  <div class="card" >
      <div class="card-header">
         <div class="title">
          <div class="text-center h1 fw-bold" style="font-family: Roboto; font-weight: 500; word-wrap: break-word">Tải lên tệp tin </div>
          <div class="text-center " style="color: #BEBEBE; font-size: 14px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">Tải lên tệp tin của bạn</div>
         </div>

      </div>
    <div class="card-body">

      <SECTION>
        <DIV id="dropzone">
          <FORM class="dropzone needsclick" style="border:1px dashed rgb(113, 109, 109)lack; ;" id="demo-upload" action="/upload">
             
            <div class="dz-message needsclick">    
              <div class="d-flex justify-content-center ">
                <div class="icon">
                  <img src="public/img/icon/drag_and_drop_file.jpg" alt="" width="100px" height="80px">
                </div>
           
               </div>
              <div>Kéo và thả file để tải lên</div>
              <SPAN class="note needsclick">
                <label for="file" class="btn bg-light border-primary text-primary fw-normal">Chọn tệp từ máy tính</label>
              <input type="file" id="file" name="file"  class="btn btn-primary d-none" multiple>
              
              </SPAN>
            </DIV>
          </FORM>
        </DIV>
      </SECTION>
    </div>
  </div>
 
 </div>   

</div>